@using Quản_lý_điểm_thi.Models
@{
    Layout = null;
    List<Exam> listExam = ViewBag.ListKhoaThi as List<Exam>;
    List<ExamRoom> listExamRoom = ViewBag.ListExamRoom as List<ExamRoom>;
    List<Hoi_dong_thi> listHDThi = ViewBag.ListHDThi as List<Hoi_dong_thi>;
    List<GioiTinh> listGioiTinh = ViewBag.ListGioiTinh as List<GioiTinh>;
    List<Truong> listTruong = ViewBag.ListTruong as List<Truong>;
    List<XepLoaiHanhKiem> listHKiem = ViewBag.ListHKiem as List<XepLoaiHanhKiem>;
    List<XepLoaiTotNghiep> listTNghiep = ViewBag.ListTNghiep as List<XepLoaiTotNghiep>;
    List<XepLoaiHocLuc> listHLuc = ViewBag.ListHLuc as List<XepLoaiHocLuc>;
    List<KetQua> listKetQua = ViewBag.ListKetQua as List<KetQua>;
    List<DienUuTien> listDienUT = ViewBag.ListDienUT as List<DienUuTien>;
}
<div style="border-style:solid;border-width: thin;border-color: #d4d2d2;">
    <div class="box">
        <div class="box-body">
            <div class="no-print margin-bottom" id="err-message" style="display:none">
                <div class="callout callout-danger" style="margin-bottom: 0!important;">
                    <h4><i class="fa fa-info"></i> Error:</h4>
                    <p id="err-message-content"></p>
                </div>
            </div>
            <form action="/" method="post" id="frmSearchStudent">
                <div class="row">
                    <fieldset style="border-style:none;">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Khóa thi</label>
                                <select class="form-control select2" name="exam" id="selExam">
                                    <option value="">-Chọn Khóa thi-</option>
                                    @if (listExam != null && listExam.Any())
                                    {
                                        foreach (var item in listExam)
                                        {
                                            <option value="@item.Id">@item.khoa_thi</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Hội đồng thi</label>
                                <select class="form-control select2" name="examCouncil" id="selExamCouncil">
                                    <option value="">-Chọn Hội đồng thi-</option>
                                    @if (listHDThi != null && listHDThi.Any())
                                    {
                                        foreach (var item in listHDThi)
                                        {
                                            <option value="@item.Id">@item.value_1</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Phòng thi</label>
                                <select class="form-control select2" name="examRoom" id="selExamRoom">
                                    <option value="">-Chọn Phòng thi-</option>
                                    @if (listExamRoom != null && listExamRoom.Any())
                                    {
                                        foreach (var item in listExamRoom)
                                        {
                                            <option value="@item.Id"> @item.value_1</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Họ và tên</label>
                                <input type="text" name="fullName" id="txtFullName" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Số báo danh</label>
                                <input type="text" name="candidateNumber" id="txtCandidateNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">CMND/Số định danh</label>
                                <input type="text" name="identifyNumber" id="txtIdNumber" class="form-control" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Giới tính</label>
                                <select class="form-control select2" name="gioiTinh" id="selGioiTinh">
                                    <option value="">-Chọn giới tính-</option>
                                    @if (listGioiTinh != null && listGioiTinh.Any())
                                    {
                                        foreach (var item in listGioiTinh)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Trường</label>
                                <select class="form-control select2" name="truong" id="selTruong">
                                    <option value="">-Chọn trường-</option>
                                    @if (listTruong != null && listTruong.Any())
                                    {
                                        foreach (var item in listTruong)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Kết quả</label>
                                <select class="form-control select2" name="ketQua" id="selKetQua">
                                    <option value="">-Chọn kết quả-</option>
                                    @if (listKetQua != null && listKetQua.Any())
                                    {
                                        foreach (var item in listKetQua)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Diện ưu tiên</label>
                                <select class="form-control select2" name="dienUT" id="selDienUT">
                                    <option value="">-Chọn diện ưu tiên-</option>
                                    @if (listDienUT != null && listDienUT.Any())
                                    {
                                        foreach (var item in listDienUT)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Xếp loại tốt nghiệp</label>
                                <select class="form-control select2" name="loaiTN" id="selLoaiTN">
                                    <option value="">-Chọn loại tốt nghiệp-</option>
                                    @if (listTNghiep != null && listTNghiep.Any())
                                    {
                                        foreach (var item in listTNghiep)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Xếp loại hạnh kiểm</label>
                                <select class="form-control select2" name="hanhKiem" id="selHanhKiem">
                                    <option value="">-Chọn loại hạnh kiểm-</option>
                                    @if (listHKiem != null && listHKiem.Any())
                                    {
                                        foreach (var item in listHKiem)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Xếp loại học lực</label>
                                <select class="form-control select2" name="hocLuc" id="selHocLuc">
                                    <option value="">-Chọn loại học lục-</option>
                                    @if (listHKiem != null && listHKiem.Any())
                                    {
                                        foreach (var item in listHKiem)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <!---->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label"> Ngày thi</label>
                                <div class="row">
                                    <div class="col-md-1 col-sm-1">
                                        <label>Từ ngày</label>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <input type="date" name="toTestDay" id="txtToTestDay" class="form-control" />
                                    </div>
                                    <div class="col-md-1 col-sm-1">
                                        <label>Đến ngày</label>
                                    </div>
                                    <div class="col-md-5 col-sm-5">
                                        <input type="date" name="fromTestDay" id="txtFromTestDay" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label"> Năm sinh</label>
                                <div class="row">
                                    <div class="col-md-1 col-sm-2">
                                        <label>Từ ngày</label>
                                    </div>
                                    <div class="col-md-5 col-sm-4">
                                        <input type="date" name="toBirthday" id="txtToBirthay" class="form-control" />
                                    </div>
                                    <div class="col-md-1 col-sm-2">
                                        <label>Đến ngày</label>
                                    </div>
                                    <div class="col-md-5 col-sm-4">
                                        <input type="date" name="fromBirthday" id="txtFromBirthday" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tokenAddEdit">
                            @Html.AntiForgeryToken()
                        </div>
                        <div class="col-sm-12">
                            <div>
                                <button type="button" class="btn btn-primary" id="btnSearch">Tìm kiếm</button>
                                <button class="btn btn-default" id="btn_export_excels"  title=""><i class="fa fa-file-excel-o" style="margin: 0 4px"></i>Kết xuất excel</button>
                              </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
<div style="border-style:solid;border-width: thin;border-color: #d4d2d2;margin-top:25px;border-bottom:solid">

    <div class="box">
        <div class="box-body" style="padding:5px !important; margin-bottom:10px">
            <div id="tbldata_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="tblStudent" class="table table-bordered table-hover dataTable" role="grid">
                            <thead>
                                <tr role="row">
                           
                                    <th></th>
                                    <th>PDF</th>
                                    <th>Họ tên</th>
                                    <th>Số báo danh</th>
                                    <th>Ngày sinh</th>
                                    <th>Kết quả thi</th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                        </table><div id="tbldata_processing" class="dataTables_processing" style="display: none;">Đang tải dữ liệu...</div>
                    </div>
                </div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"></div></div>
            </div>
        </div>
    </div>
</div>


