
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail";
    string[] listFile = ViewBag.filePaths;
    string pdf = ViewBag.pdf;
    int id = ViewBag.ID_Exam_Room;
    int id_student = ViewBag.id_student;
    string TenHoiDongThi = ViewBag.TenHoiDongThi;
    string IDHoiDongThi = ViewBag.IDHoiDongThi + "";
    string ID_Exam = ViewBag.ID_Exam + "";
    string TenExam = ViewBag.TenExam;
    string IdPhong = ViewBag.IdPhong + "";
    string TenPhong = ViewBag.TenPhong;
    string TenTT = ViewBag.TenTT;
    var lst_MT = (List<Quản_lý_điểm_thi.Models.MT_VALUE_NAME>)ViewBag.lst_MT;
    List<Quản_lý_điểm_thi.Models.GioiTinh> lstGioiTinh = (List<Quản_lý_điểm_thi.Models.GioiTinh>)ViewBag.lstGioiTinh;
    List<Quản_lý_điểm_thi.Models.Truong> lstTruong = (List<Quản_lý_điểm_thi.Models.Truong>)ViewBag.lstTruong;
    List<Quản_lý_điểm_thi.Models.XepLoaiHanhKiem> lstXepLoaiHanhKiem = (List<Quản_lý_điểm_thi.Models.XepLoaiHanhKiem>)ViewBag.lstXepLoaiHanhKiem;
    List<Quản_lý_điểm_thi.Models.XepLoaiHocLuc> lstXepLoaiHocLuc = (List<Quản_lý_điểm_thi.Models.XepLoaiHocLuc>)ViewBag.lstXepLoaiHocLuc;
    List<Quản_lý_điểm_thi.Models.XepLoaiTotNghiep> lstXepLoaiTotNghiep = (List<Quản_lý_điểm_thi.Models.XepLoaiTotNghiep>)ViewBag.lstXepLoaiTotNghiep;
    List<Quản_lý_điểm_thi.Models.DienUuTien> DienUuTien = (List<Quản_lý_điểm_thi.Models.DienUuTien>)ViewBag.DienUuTien;
    List<Quản_lý_điểm_thi.Models.KetQua> KetQua = (List<Quản_lý_điểm_thi.Models.KetQua>)ViewBag.KetQua;
    List<Quản_lý_điểm_thi.Models.Student> lstStudent = (List<Quản_lý_điểm_thi.Models.Student>)ViewBag.lstStudent;
}

@section path{
    <li><a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li><a href="/exam/Index">Danh sách khoá thi</a></li>
    <li><a href="/HoiDongThi/Index/@ID_Exam">@TenExam</a></li>
    <li><a href="/ExamRoom/Index/@IDHoiDongThi">@TenHoiDongThi</a></li>
    <li><a href="/Student/Index/@IdPhong">@TenPhong</a></li>
    <li><select style="border-style:none;font-size: 15px;" id="select-student" onchange="myFunction1();">
    @for (int i = 0; i < lstStudent.Count; i++)
    {
        if (lstStudent[i].Id == id_student)
        {
            <option value="@lstStudent[i].Id" selected>@lstStudent[i].ho_ten - @lstStudent[i].sbd</option>
        }
        else
        {
            <option value="@lstStudent[i].Id">@lstStudent[i].ho_ten - @lstStudent[i].sbd</option>
        }

    }
</select></li>
}
@section script
{<script>
    function showSuccessMessage(mess) {
        $('#modalSuccessMess').modal('show');
        $('#modalSuccessMess .message-content').text(mess);
    }
</script>
<script>
    function showAlterMessage(mess) {
        $('#modalErroMess').modal('show');
        $('#modalErroMess .message-content').text(mess);
    }
</script>
<script>
    function hideMessage() {
        $('#success-message').modal('hide');
        $('#success-message .message-content').text('');
        $('#modalErroMess').modal('hide');
        $('#modalErroMess .message-content').text('');
    }
</script>
    <script src="~/dist/js/pdfobject.js"></script>
<script src="~/dist/js/jquery.dataTables.js"></script>
    <script>
    function myFunction() {
    var x = document.getElementById("select-file").value;
        @*var src = @Url.Action("ByteArrayToImage", new { fileName = "helloworld", type = "" });*@
        ///Student/ByteArrayToImage?fileName=PDF
        document.getElementById("pdf-view").src = "/Student/ByteArrayToImage?fileName="+x+"&type=pdf&id_Room="+@id;
}
    </script>
    <script>
$(document).ready(function(){
    $('#btnUpload').click(function () {

        // Checking whether FormData is available in browser
        if (window.FormData !== undefined) {

            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;
            var id = @id;
            // Create FormData object
            var fileData = new FormData();

            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            // Adding one more key to FormData object
            fileData.append('username', 'Manas');

            $.ajax({
                url: '/Student/UploadFiles/'+id,
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    location.reload();
                    alert(result);
                },
                error: function (err) {
                    alert(err.statusText);

                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
});
    </script>


    <!-- #region Lưu chỉnh sửa phòng thi -->
    <script>
        async function Save() {
            await SaveDiem();
            SaveThongTin();
        }
    </script>
    <script>
    function SaveDiem ()
    {
        $.post("@Url.Action("saveDiem", "Student")",
    {
        id: document.getElementById('txtID').value,
        value_1: document.getElementById('value_1').value,
        value_2: document.getElementById('value_2').value,
        value_3: document.getElementById('value_3').value,
        value_4: document.getElementById('value_4').value,
        value_5: document.getElementById('value_5').value,
        value_6: document.getElementById('value_6').value,
        value_7: document.getElementById('value_7').value,
        value_8: document.getElementById('value_8').value,
        value_9: document.getElementById('value_9').value,
        value_10: document.getElementById('value_10').value,

        value_11: document.getElementById('value_11').value,
        value_12: document.getElementById('value_12').value,
        value_13: document.getElementById('value_13').value,
        value_14: document.getElementById('value_14').value,
        value_15: document.getElementById('value_15').value,
        value_16: document.getElementById('value_16').value,
        value_17: document.getElementById('value_17').value,
        value_18: document.getElementById('value_18').value,
        value_19: document.getElementById('value_19').value,
        value_20: document.getElementById('value_20').value,

        value_21: document.getElementById('value_21').value,
        value_22: document.getElementById('value_22').value,
        value_23: document.getElementById('value_23').value,
        value_24: document.getElementById('value_24').value,
        value_25: document.getElementById('value_25').value,
        value_26: document.getElementById('value_26').value,
        value_27: document.getElementById('value_27').value,
        value_28: document.getElementById('value_28').value,
        value_29: document.getElementById('value_29').value,
        value_30: document.getElementById('value_30').value,


        value_31: document.getElementById('value_31').value,
        value_32: document.getElementById('value_32').value,
        value_33: document.getElementById('value_33').value,
        value_34: document.getElementById('value_34').value,
        value_35: document.getElementById('value_35').value,
        value_36: document.getElementById('value_36').value,
        value_37: document.getElementById('value_37').value,
        value_38: document.getElementById('value_38').value,
        value_39: document.getElementById('value_39').value,
        value_40: document.getElementById('value_40').value,

        value_41: document.getElementById('value_41').value,
        value_42: document.getElementById('value_42').value,
        value_43: document.getElementById('value_43').value,
        value_44: document.getElementById('value_44').value,
        value_45: document.getElementById('value_45').value,
        value_46: document.getElementById('value_46').value,
        value_47: document.getElementById('value_47').value,
        value_48: document.getElementById('value_48').value,
        value_49: document.getElementById('value_49').value,
        value_50: document.getElementById('value_50').value,

        },
    function (data) {
        if (data == -1) {

        }
        else {
            //showSuccessMessage("Lưu thông tin thành công");
            //$('#createModal').modal('hide');
        }
    });
    }
    </script>
    <script>
        function SaveThongTin()
        {
            //hideMessage();
            $.post("@Url.Action("saveThongTin", "Student")",
        {
            id: document.getElementById('txtID').value,
            tt: document.getElementById('tt').value,
            sbd: document.getElementById('SBD').value,
            hoten: document.getElementById('hoten').value,
            ngaysinh: document.getElementById('ngaysinh').value,
            gioitinh: document.getElementById('gioitinh').value,
            coquancongtac: document.getElementById('coquancongtac').value,
            truonghoc: document.getElementById('truonghoc').value,
            xeploaihanhkiem: document.getElementById('xeploaihanhkiem').value,
            xeploaihocluc: document.getElementById('xeploaihocluc').value,
            dienuudai: document.getElementById('dienuudai').value,
            dantoc: document.getElementById('dantoc').value,
            tongso: document.getElementById('tongso').value,
            ketquathi: document.getElementById('ketquathi').value,
            xeploaitotnghiep: document.getElementById('xeploaitotnghiep').value,
            ghichu: document.getElementById('ghichu').value,
            pdf: document.getElementById('select-file').value,
            },
        function (data) {
            if (data == -1) {
                alert('Cập nhật thông tin thất bại')
            }
            else {
                showSuccessMessage("Lưu thông tin thành công");
                //$('#createModal').modal('hide');
            }
        });
        }

    </script>
    <!-- #endregion -->
    <!-- #region load thông tin ,điểm thí sinh -->
    <script>
        $(document).ready(function () {
            loadData();
        });
    </script>
    <script>
        async function loadData() {
            await LoadTT();
            LoadDiem();
        }
    </script>
    <script>
    function LoadDiem()
    {
        let id_Student = @id_student;
        $.post("@Url.Action("getDiem", "Student")",
    {
        id: id_Student
    },
    function (data) {
        if (data == -1) {
        }
        else {
            document.getElementById('value_1').value = data.value_1;
            document.getElementById('value_2').value = data.value_2;
            document.getElementById('value_3').value = data.value_3;
            document.getElementById('value_4').value = data.value_4;
            document.getElementById('value_5').value = data.value_5;
            document.getElementById('value_6').value = data.value_6;
            document.getElementById('value_7').value = data.value_7;
            document.getElementById('value_8').value = data.value_8;
            document.getElementById('value_9').value = data.value_9;
            document.getElementById('value_10').value = data.value_10;

            document.getElementById('value_11').value = data.value_11;
            document.getElementById('value_12').value = data.value_12;
            document.getElementById('value_13').value = data.value_13;
            document.getElementById('value_14').value = data.value_14;
            document.getElementById('value_15').value = data.value_15;
            document.getElementById('value_16').value = data.value_16;
            document.getElementById('value_17').value = data.value_17;
            document.getElementById('value_18').value = data.value_18;
            document.getElementById('value_19').value = data.value_19;
            document.getElementById('value_20').value = data.value_20;

            document.getElementById('value_21').value = data.value_21;
            document.getElementById('value_22').value = data.value_22;
            document.getElementById('value_23').value = data.value_23;
            document.getElementById('value_24').value = data.value_24;
            document.getElementById('value_25').value = data.value_25;
            document.getElementById('value_26').value = data.value_26;
            document.getElementById('value_27').value = data.value_27;
            document.getElementById('value_28').value = data.value_28;
            document.getElementById('value_29').value = data.value_29;
            document.getElementById('value_30').value = data.value_30;

            document.getElementById('value_31').value = data.value_31;
            document.getElementById('value_32').value = data.value_32;
            document.getElementById('value_33').value = data.value_33;
            document.getElementById('value_34').value = data.value_34;
            document.getElementById('value_35').value = data.value_35;
            document.getElementById('value_36').value = data.value_36;
            document.getElementById('value_37').value = data.value_37;
            document.getElementById('value_38').value = data.value_38;
            document.getElementById('value_39').value = data.value_39;
            document.getElementById('value_40').value = data.value_40;

            document.getElementById('value_41').value = data.value_41;
            document.getElementById('value_42').value = data.value_42;
            document.getElementById('value_43').value = data.value_43;
            document.getElementById('value_44').value = data.value_44;
            document.getElementById('value_45').value = data.value_45;
            document.getElementById('value_46').value = data.value_46;
            document.getElementById('value_47').value = data.value_47;
            document.getElementById('value_48').value = data.value_48;
            document.getElementById('value_49').value = data.value_49;
            document.getElementById('value_50').value = data.value_50;

        }
    });
    }
    </script>
    <script>
    function LoadTT()
    {
        let id_Student = @id_student;
        $.post("@Url.Action("getThongTin", "Student")",
    {
        id: id_Student
    },
    function (data) {
        if (data == -1) {
        }
        else {
            document.getElementById('txtID').value = data.id;
            document.getElementById('tt').value = data.tt;
            document.getElementById('SBD').value = data.sbd;
            document.getElementById('hoten').value = data.hoten;
            document.getElementById('ngaysinh').value = data.ngaysinh;
            document.getElementById('gioitinh').value = data.gioitinh;
            document.getElementById('coquancongtac').value = data.coquancongtac;
            document.getElementById('truonghoc').value = data.truonghoc;
            document.getElementById('xeploaihanhkiem').value = data.xeploaihanhkiem;
            document.getElementById('xeploaihocluc').value = data.xeploaihocluc;

            //document.getElementById("orange").selected = "true";
            document.getElementById('dienuudai').value = data.dienuudai;
            document.getElementById('tongso').value = data.tongso;
            document.getElementById('ketquathi').value = data.ketquathi;
            document.getElementById('xeploaitotnghiep').value = data.xeploaitotnghiep;
            document.getElementById('ghichu').value = data.ghichu;
            document.getElementById('dantoc').value = data.dantoc;

        }
    });
    }
    </script>
    <!-- #endregion -->
    <script>
        function myFunction1()
        {
            var x = document.getElementById("select-student").value;
            window.location.href = '/Student/detail/' + x;
        }
    </script>
}
@section Styles
{
    <style>
        .pdfobject-container {
            height: 800px;
            width: 700px;
            border: 1rem solid rgba(0,0,0,.1);
        }
    </style>
    <style>
        .dataTables_info {
            font-size: 10px;
        }

        a {
            font-size: 15px;
        }
    </style>
}
<div class="container">

    <div class="col-sm-9">
        <dIV class="form-group col-sm-6">
            <div class="form-group col-sm-5">
                <label for="exampleInputFile">Chọn pdf của thí sinh</label>
                <input type="file" id="FileUpload1" name="uploadFile">

            </div>
            <div class="form-group col-sm-3">
                <label for="exampleInputFile" style="width:100%">&nbsp;&nbsp;</label>
                <button id="btnUpload">Tải lên</button>
            </div>
        </dIV>

        <div class="form-group col-sm-3">
            <label>Chọn file pdf của thí sinh</label>
            <select class="form-control" id="select-file" onchange="myFunction();">
                <option>--Chọn file--</option>
                @for (int i = 0; i < listFile.Length; i++)
                {
                    if (listFile[i] == pdf)
                    {
                        <option selected>@listFile[i]</option>
                    }
                    else
                    {
                        <option>@listFile[i]</option>
                    }

                }
            </select>
        </div>

        <iframe id="pdf-view" src="@Url.Action("ByteArrayToImage","Student",new { fileName = pdf , type = 0,id_Room = @id })" frameborder="0" style="border-width:2px 2px 2px 2px;overflow:hidden;height:800px;width:100%"></iframe>
    </div>
    <div class="col-sm-3">
        <div style="margin-left:10px;margin-top:5px; ">
            <div class="nav-tabs-custom" style="margin-bottom:5px">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_01" data-toggle="tab" aria-expanded="true" style="font-weight:bold">Thông tin thí sinh</a></li>
                    <li><a href="#tab_02" data-toggle="tab" aria-expanded="false" style="font-weight:bold">Thông tin chi tiết</a></li>
                    @*<li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">Tab 3</a></li>*@
                </ul>
                <div class="tab-content" style="border-width:0px 1px 1px 1px;border-color:#f4f4f4;border-style:solid;height:770px;">

                    <div class="tab-pane active" id="tab_01">
                        <div class="col-sm-12" style="text-align:left; margin: 5px 0px 5px 0px">

                            <input id="txtID" hidden />
                        </div>

                        <div id="tab_1" style="margin-top:10px; overflow: auto;width:100%">
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Số CMND/Số Định danh</label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="tongso" class="form-control" placeholder="Nhập Số CMND/Số Định danh">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Số thứ tự </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="tt" class="form-control" placeholder="Nhập số thứ tự">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Số báo danh </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="SBD" class="form-control" placeholder="Nhập số báo danh">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Họ tên</label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="hoten" class="form-control" placeholder="Nhập họ tên">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Ngày sinh </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="date" id="ngaysinh" class="form-control" placeholder="Nhập ngày sinh">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Giới tính </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <select class="form-control" id="gioitinh">
                                        @foreach (var item in lstGioiTinh)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Quê quán </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="coquancongtac" class="form-control" placeholder="Nhập quê quán">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->

                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Dân tộc </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="dantoc" class="form-control" placeholder="Nhập dân tộc">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Trường học</label>
                                </div>
                                <div style="width:58%; float:left">
                                    @*<input type="text" id="truonghoc" class="form-control" placeholder="Nhập trường học">*@
                                    <select class="form-control" id="truonghoc">
                                        @foreach (var item in lstTruong)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Xếp loại học lực </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <select class="form-control" id="xeploaihocluc">
                                        @foreach (var item in lstXepLoaiHocLuc)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }

                                    </select>

                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Xếp loại hạnh kiểm</label>
                                </div>
                                <div style="width:58%; float:left">
                                    @*<input type="text" id="xeploaihanhkiem" class="form-control" placeholder="Xếp loại hạnh kiểm">*@
                                    <select class="form-control" id="xeploaihanhkiem">
                                        @foreach (var item in lstXepLoaiHanhKiem)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }

                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Xếp loại tốt nghiệp </label>
                                </div>
                                <div style="width:58%; float:left">
                                    @*<input type="text" id="xeploaitotnghiep" class="form-control" placeholder="Nhập xếp loại tốt nghiệp">*@
                                    <select class="form-control" id="xeploaitotnghiep">
                                        @foreach (var item in lstXepLoaiTotNghiep)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }

                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Diện ưu tiên </label>
                                </div>
                                <div style="width:58%; float:left">
                                    @*<input type="text" id="dienuudai" class="form-control" placeholder="Nhập diện ưu tiên">*@
                                    <select class="form-control" id="dienuudai">
                                        @foreach (var item in DienUuTien)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Kết quả </label>
                                </div>
                                <div style="width:58%; float:left">
                                    @*<input type="text" id="ketquathi" class="form-control" placeholder="Nhập kết quả ">*@
                                    <select class="form-control" id="ketquathi">
                                        @foreach (var item in KetQua)
                                        {
                                            <option value="@item.Ten">@item.Ten</option>
                                        }
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <!-- /.row -->
                            <div style="width:100%;">
                                <div style="width:42%; float:left">
                                    <label style="margin-top: 5px">Ghi chú </label>
                                </div>
                                <div style="width:58%; float:left">
                                    <input type="text" id="ghichu" class="form-control" placeholder="Nhập ghi chú">
                                </div>
                                <div class="clear"></div>
                            </div>
                            <!-- /.row -->

                        </div>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="tab_02">
                        <div class="col-sm-12" style="text-align:left; margin: 5px 0px 5px 0px">

                        </div>

                        <div id="tab_2" style="margin-top:10px; overflow: auto;width:100%">
                            @foreach (var item in lst_MT)
                            {
                                <div style="width:100%;" @item.status>
                                    <div style="width:42%; float:left">
                                        <label style="margin-top: 5px">@item.mo_ta </label>
                                    </div>
                                    <div style="width:58%; float:left">
                                        <input type="@item.type" id="@item.name" class="form-control" placeholder="Nhập điểm @item.mo_ta">
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>

                <!-- /.tab-content -->
            </div>
            <div class="row">
                <button type="button" class="btn btn-primary" onclick="Save();" style="width:100%;margin-bottom:5px">Lưu</button>
                <button type="button" class="btn btn-primary" onclick="ResetForm();" style="width:100%">ResetForm</button>
            </div>

        </div>
    </div>

</div>
@Html.Action("MessageBox", "Common")

