
@{
    ViewBag.Title = "Create";
    Quản_lý_điểm_thi.Models.Setting setting = (Quản_lý_điểm_thi.Models.Setting)ViewBag.setting;
    List<Quản_lý_điểm_thi.Models.MT_VALUE_NAME> listMT = (List<Quản_lý_điểm_thi.Models.MT_VALUE_NAME>)ViewBag.listMT;
    List<Quản_lý_điểm_thi.Models.PT_VALUE_NAME> listPT = (List<Quản_lý_điểm_thi.Models.PT_VALUE_NAME>)ViewBag.listPT;
    string loai = ViewBag.loai;
}
@section script
{
    <script>
        function Save()
        {
            $.post("@Url.Action("saveJS", "Settings")",
        {
            Id: document.getElementById('txtId').value,
            Loai: document.getElementById('loaiCauHinh').value,
            Ten: document.getElementById('tenCauHinh').value,

            status1: document.getElementById('st_v1').checked,
            name1: document.getElementById('ten_v1').value,
            type1: document.getElementById('loai_v1').value,

            status2: document.getElementById('st_v2').checked,
            name2: document.getElementById('ten_v2').value,
            type2: document.getElementById('loai_v2').value,

            status3: document.getElementById('st_v3').checked,
            name3: document.getElementById('ten_v3').value,
            type3: document.getElementById('loai_v3').value,

            status4: document.getElementById('st_v4').checked,
            name4: document.getElementById('ten_v4').value,
            type4: document.getElementById('loai_v4').value,

            status5: document.getElementById('st_v5').checked,
            name5: document.getElementById('ten_v5').value,
            type5: document.getElementById('loai_v5').value,

            status6: document.getElementById('st_v6').checked,
            name6: document.getElementById('ten_v6').value,
            type6: document.getElementById('loai_v6').value,

            status7: document.getElementById('st_v7').checked,
            name7: document.getElementById('ten_v7').value,
            type7: document.getElementById('loai_v7').value,

            status8: document.getElementById('st_v8').checked,
            name8: document.getElementById('ten_v8').value,
            type8: document.getElementById('loai_v8').value,

            status9: document.getElementById('st_v9').checked,
            name9: document.getElementById('ten_v9').value,
            type9: document.getElementById('loai_v9').value,

            status10: document.getElementById('st_v10').checked,
            name10: document.getElementById('ten_v10').value,
            type10: document.getElementById('loai_v10').value,

            status11: document.getElementById('st_v11').checked,
            name11: document.getElementById('ten_v11').value,
            type11: document.getElementById('loai_v11').value,

            status12: document.getElementById('st_v12').checked,
            name12: document.getElementById('ten_v12').value,
            type12: document.getElementById('loai_v12').value,

            status13: document.getElementById('st_v13').checked,
            name13: document.getElementById('ten_v13').value,
            type13: document.getElementById('loai_v13').value,

            status14: document.getElementById('st_v14').checked,
            name14: document.getElementById('ten_v14').value,
            type14: document.getElementById('loai_v14').value,

            status15: document.getElementById('st_v15').checked,
            name15: document.getElementById('ten_v15').value,
            type15: document.getElementById('loai_v15').value,

            status16: document.getElementById('st_v16').checked,
            name16: document.getElementById('ten_v16').value,
            type16: document.getElementById('loai_v16').value,

            status17: document.getElementById('st_v17').checked,
            name17: document.getElementById('ten_v17').value,
            type17: document.getElementById('loai_v17').value,

            status18: document.getElementById('st_v18').checked,
            name18: document.getElementById('ten_v18').value,
            type18: document.getElementById('loai_v18').value,

            status19: document.getElementById('st_v19').checked,
            name19: document.getElementById('ten_v19').value,
            type19: document.getElementById('loai_v19').value,

            status20: document.getElementById('st_v20').checked,
            name20: document.getElementById('ten_v20').value,
            type20: document.getElementById('loai_v20').value,
            //20----------------------------------------------------------------
            status21: document.getElementById('st_v21').checked,
            name21: document.getElementById('ten_v21').value,
            type21: document.getElementById('loai_v21').value,

            status22: document.getElementById('st_v22').checked,
            name22: document.getElementById('ten_v22').value,
            type22: document.getElementById('loai_v22').value,

            status23: document.getElementById('st_v23').checked,
            name23: document.getElementById('ten_v23').value,
            type23: document.getElementById('loai_v23').value,

            status24: document.getElementById('st_v24').checked,
            name24: document.getElementById('ten_v24').value,
            type24: document.getElementById('loai_v24').value,

            status25: document.getElementById('st_v25').checked,
            name25: document.getElementById('ten_v25').value,
            type25: document.getElementById('loai_v25').value,

            status26: document.getElementById('st_v26').checked,
            name26: document.getElementById('ten_v26').value,
            type26: document.getElementById('loai_v26').value,

            status27: document.getElementById('st_v27').checked,
            name27: document.getElementById('ten_v27').value,
            type27: document.getElementById('loai_v27').value,

            status28: document.getElementById('st_v28').checked,
            name28: document.getElementById('ten_v28').value,
            type28: document.getElementById('loai_v28').value,

            status29: document.getElementById('st_v29').checked,
            name29: document.getElementById('ten_v29').value,
            type29: document.getElementById('loai_v29').value,

            status30: document.getElementById('st_v30').checked,
            name30: document.getElementById('ten_v30').value,
            type30: document.getElementById('loai_v30').value,
            //-------
            status31: document.getElementById('st_v31').checked,
            name31: document.getElementById('ten_v31').value,
            type31: document.getElementById('loai_v31').value,

            status32: document.getElementById('st_v32').checked,
            name32: document.getElementById('ten_v32').value,
            type32: document.getElementById('loai_v32').value,

            status33: document.getElementById('st_v33').checked,
            name33: document.getElementById('ten_v33').value,
            type33: document.getElementById('loai_v33').value,

            status34: document.getElementById('st_v34').checked,
            name34: document.getElementById('ten_v34').value,
            type34: document.getElementById('loai_v34').value,

            status35: document.getElementById('st_v35').checked,
            name35: document.getElementById('ten_v35').value,
            type35: document.getElementById('loai_v35').value,

            status36: document.getElementById('st_v36').checked,
            name36: document.getElementById('ten_v36').value,
            type36: document.getElementById('loai_v36').value,

            status37: document.getElementById('st_v37').checked,
            name37: document.getElementById('ten_v37').value,
            type37: document.getElementById('loai_v37').value,

            status38: document.getElementById('st_v38').checked,
            name38: document.getElementById('ten_v38').value,
            type38: document.getElementById('loai_v38').value,

            status39: document.getElementById('st_v39').checked,
            name39: document.getElementById('ten_v39').value,
            type39: document.getElementById('loai_v39').value,

            status40: document.getElementById('st_v40').checked,
            name40: document.getElementById('ten_v40').value,
            type40: document.getElementById('loai_v40').value,
            //-------
            status41: document.getElementById('st_v41').checked,
            name41: document.getElementById('ten_v41').value,
            type41: document.getElementById('loai_v41').value,

            status42: document.getElementById('st_v42').checked,
            name42: document.getElementById('ten_v42').value,
            type42: document.getElementById('loai_v42').value,

            status43: document.getElementById('st_v43').checked,
            name43: document.getElementById('ten_v43').value,
            type43: document.getElementById('loai_v43').value,

            status44: document.getElementById('st_v44').checked,
            name44: document.getElementById('ten_v44').value,
            type44: document.getElementById('loai_v44').value,

            status45: document.getElementById('st_v45').checked,
            name45: document.getElementById('ten_v45').value,
            type45: document.getElementById('loai_v45').value,

            status46: document.getElementById('st_v46').checked,
            name46: document.getElementById('ten_v46').value,
            type46: document.getElementById('loai_v46').value,

            status47: document.getElementById('st_v47').checked,
            name47: document.getElementById('ten_v47').value,
            type47: document.getElementById('loai_v47').value,

            status48: document.getElementById('st_v48').checked,
            name48: document.getElementById('ten_v48').value,
            type48: document.getElementById('loai_v48').value,

            status49: document.getElementById('st_v49').checked,
            name49: document.getElementById('ten_v49').value,
            type49: document.getElementById('loai_v49').value,

            status50: document.getElementById('st_v50').checked,
            name50: document.getElementById('ten_v50').value,
            type50: document.getElementById('loai_v50').value,
            },
        function (data) {
            if (data == -1) {

            }
            else {

                alert("Lưu thông tin thành công");

            }
        });
        }

    </script>

}

@section path{
    <li><a href="/Home/Index"><i class="fa fa-home"></i> Trang chủ</a></li>
    <li><a href="/Settings/Index">Cấu hình tham số</a></li>
    <li class="active" id="">Sửa</li>
}
<div style="margin:10px 100px 5px 100px">
    <input id="txtId" value="@setting.Id" hidden />
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Loại cấu hình</label>
                <select disabled class="form-control" id="loaiCauHinh">
                    @if (loai == "MT")
                    { 
                            <option  selected value="MT">Cấu hình thông tin thí sinh</option>
                            <option value="PT">Cấu hình thông tin  phòng thi</option>

                    }
                    else
                    {
                        <option  value="MT">Cấu hình thông tin thí sinh</option>
                        <option selected value="PT">Cấu hình thông tin  phòng thi</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label>Tên cấu hình</label>
                <input type="text" id="tenCauHinh" value="@setting.Ten" class="form-control" placeholder="Nhập ...">
            </div>
        </div>
        <div class="col-lg-6">

        </div>
    </div>

    <div class="row" style="margin-top:10px">
        @if (loai == "MT")
        {
            for (int i = 0; i < 46; i += 3)
            {
                <div class="col-lg-12">
                    <div class="row" style="margin:5px">    
                            <div class="col-lg-3">
                                <div class="input-group">
                                    
                                        @if (i < 9)
                                        {
                                            <span class="input-group-addon" style="width:0.05%">
                                                0@(i + 1)
                                            </span>
                                        }
                                   else 
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            @(i + 1)
                                        </span>
                                    }
                                     
                                    <span class="input-group-addon" style="width:0.05%">
                                        @if (listMT[i].status == "hidden")
                                        {
                                            <input type="checkbox" id="st_v@(i + 1)">
                                        }
                                        else
                                        {
                                            <input checked type="checkbox" id="st_v@(i + 1)">
                                        }


                                    </span>
                                    <span class="input-group-btn">
                                        <input type="text" id="ten_v@(i + 1)" value="@listMT[i].mo_ta" placeholder="Nhập tên value @(i + 1)..." class="form-control">
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" id="loai_v@(i + 1)">
                                            @if (listMT[i].type == "datetime")
                                            {
                                                <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else if (listMT[i].type == "text")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else if (listMT[i].type == "number")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option selected value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                        </select>
                                    </span>

                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-lg-1">

                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-3">
                                <div class="input-group">
                                    @if (i < 8)
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            0@(i+2)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            @(i + 2)
                                        </span>
                                    }
                                    <span class="input-group-addon" style="width:0.05%">
                                        @if (listMT[i + 1].status == "hidden")
                                        {
                                            <input type="checkbox" id="st_v@(i + 2)">
                                        }
                                        else
                                        {
                                            <input checked type="checkbox" id="st_v@(i + 2)">
                                        }
                                    </span>
                                    <span class="input-group-btn">
                                        <input type="text" id="ten_v@(i + 2)" value="@listMT[i + 1].mo_ta" placeholder="Nhập tên value @(i + 2)..." class="form-control">
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" id="loai_v@(i + 2)">
                                            @if (listMT[i+1].type == "datetime")
                                            {
                                                <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else if (listMT[i+1].type == "text")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else if (listMT[i+1].type == "number")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                            else
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option selected value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                            }
                                        </select>
                                    </span>

                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-3">
                            <div class="input-group">
                                @if (i < 7)
                                {
                                    <span class="input-group-addon" style="width:0.05%">
                                        0@(i + 3)
                                    </span>
                                }
                                else
                                {
                                    <span class="input-group-addon" style="width:0.05%">
                                        @(i + 3)
                                    </span>
                                }
                                <span class="input-group-addon" style="width:0.05%">
                                    @if (listMT[i + 2].status == "hidden")
                                    {
                                        <input type="checkbox" id="st_v@(i + 3)">
                                    }
                                    else
                                    {
                                        <input checked type="checkbox" id="st_v@(i + 3)">
                                    }
                                </span>
                                <span class="input-group-btn">
                                    <input type="text" id="ten_v@(i + 3)" value="@listMT[i + 2].mo_ta" placeholder="Nhập tên value @(i + 3)..." class="form-control">
                                </span>
                                <span class="input-group-btn">
                                    <select class="form-control" id="loai_v@(i + 3)">
                                        @if (listMT[i+2].type == "datetime")
                                        {
                                            <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                        }
                                        else if (listMT[i+2].type == "text")
                                        {
                                            <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                        }
                                        else if (listMT[i+2].type == "number")
                                        {
                                            <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                        }
                                        else
                                        {
                                            <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option selected value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                        }
                                    </select>
                                </span>

                            </div>
                            <!-- /input-group -->
                        </div>

                    </div>
                </div>

            }
            <div class="col-lg-12">
               
                    <div class="col-lg-3">
                        <div class="input-group">
                                <span class="input-group-addon" style="width:0.05%">
                                  49
                                </span>
                           
                            <span class="input-group-addon" style="width:0.05%">
                                @if (listMT[48].status == "hidden")
                                {
                                    <input type="checkbox" id="st_v49">
                                }
                                else
                                {
                                    <input checked type="checkbox" id="st_v49">
                                }


                            </span>
                            <span class="input-group-btn">
                                <input type="text" id="ten_v49" value="@listMT[48].mo_ta" placeholder="Nhập tên value 49..." class="form-control">
                            </span>
                            <span class="input-group-btn">
                                <select class="form-control" id="loai_v49">
                                    @if (listMT[48].type == "datetime")
                                    {
                                        <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else if (listMT[48].type == "text")
                                    {
                                        <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else if (listMT[48].type == "number")
                                    {
                                        <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else
                                    {
                                        <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option selected value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                </select>
                            </span>

                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:0.05%">
                                50
                            </span>
                            <span class="input-group-addon" style="width:0.05%">
                                @if (listMT[49].status == "hidden")
                                {
                                    <input type="checkbox" id="st_v50">
                                }
                                else
                                {
                                    <input checked type="checkbox" id="st_v50">
                                }
                            </span>
                            <span class="input-group-btn">
                                <input type="text" id="ten_v50" placeholder="Nhập tên value 50..." class="form-control">
                            </span>
                            <span class="input-group-btn">
                                <select class="form-control" id="loai_v50">
                                    @if (listMT[49].type == "datetime")
                                    {
                                        <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else if (listMT[49].type == "text")
                                    {
                                        <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else if (listMT[49].type == "number")
                                    {
                                        <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                                <option value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                    else
                                    {
                                        <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                                <option selected value="number/totnghiep">Số/Điểm tốt nghiệp</option>
                                    }
                                </select>
                            </span>

                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
        }
        else
        {
            for (int i = 0; i < 46; i += 3)
            {
                <div class="col-lg-12">
                    <div class="row" style="margin:5px">
                     
                            <div class="col-lg-3">
                                <div class="input-group">
                                    @if (i < 7)
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            0@(i + 1)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            @(i + 1)
                                        </span>
                                    }
                                    <span class="input-group-addon" style="width:0.05%">
                                        @if (listPT[i].status == "hidden")
                                        {
                                            <input type="checkbox" id="st_v@(i + 1)">
                                        }
                                        else
                                        {
                                            <input checked type="checkbox" id="st_v@(i + 1)">
                                        }


                                    </span>
                                    <span class="input-group-btn">
                                        <input type="text" id="ten_v@(i + 1)" value="@listPT[i].mo_ta" placeholder="Nhập tên value @(i + 1)..." class="form-control">
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" id="loai_v@(i + 1)">
                                            @if (listPT[i].type == "datetime")
                                            {
                                                <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                            }
                                            else if (listPT[i].type == "text")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                 
                                            }
                                            else
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                            }
                                        </select>
                                    </span>

                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="col-lg-1">

                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-3">
                                <div class="input-group">
                                    @if (i < 7)
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            0@(i +2)
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="input-group-addon" style="width:0.05%">
                                            @(i + 2)
                                        </span>
                                    }
                                    <span class="input-group-addon" style="width:0.05%">
                                        @if (listPT[i + 1].status == "hidden")
                                        {
                                            <input type="checkbox" id="st_v@(i + 2)">
                                        }
                                        else
                                        {
                                            <input checked type="checkbox" id="st_v@(i + 2)">
                                        }
                                    </span>
                                    <span class="input-group-btn">
                                        <input type="text" id="ten_v@(i + 2)" value="@listPT[i + 1].mo_ta" placeholder="Nhập tên value @(i + 2)..." class="form-control">
                                    </span>
                                    <span class="input-group-btn">
                                        <select class="form-control" id="loai_v@(i + 2)">
                                            @if (listPT[i + 1].type == "datetime")
                                            {
                                                <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                            }
                                            else if (listPT[i + 1].type == "text")
                                            {
                                                <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                            }
                                            else
                                            {
                                                <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                            }
                                        </select>
                                    </span>

                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-1">

                            </div>
                            <div class="col-lg-3">
                            <div class="input-group">
                                @if (i < 7)
                                {
                                    <span class="input-group-addon" style="width:0.05%">
                                        0@(i + 3)
                                    </span>
                                }
                                else
                                {
                                    <span class="input-group-addon" style="width:0.05%">
                                        @(i + 3)
                                    </span>
                                }
                                <span class="input-group-addon" style="width:0.05%">
                                    @if (listPT[i + 2].status == "hidden")
                                    {
                                        <input type="checkbox" id="st_v@(i + 3)">
                                    }
                                    else
                                    {
                                        <input checked type="checkbox" id="st_v@(i + 3)">
                                    }
                                </span>
                                <span class="input-group-btn">
                                    <input type="text" id="ten_v@(i + 3)" value="@listPT[i + 2].mo_ta" placeholder="Nhập tên value @(i + 3)..." class="form-control">
                                </span>
                                <span class="input-group-btn">
                                    <select class="form-control" id="loai_v@(i + 3)">
                                        @if (listPT[i + 2].type == "datetime")
                                        {
                                            <option selected value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                        }
                                        else if (listPT[i + 2].type == "text")
                                        {
                                            <option value="date">Thời gian</option>
                                                <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                        }
                                        else
                                        {
                                            <option value="date">Thời gian</option>
                                                <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                        }
                                    </select>
                                </span>

                            </div>
                            <!-- /input-group -->
                        </div>
                        </div>
                    </div>
            }
            <div class="col-lg-12">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:0.05%">
                               49
                            </span>
                            <span class="input-group-addon" style="width:0.05%">
                                @if (listPT[48].status == "hidden")
                                {
                                    <input type="checkbox" id="st_v49">
                                }
                                else
                                {
                                    <input checked type="checkbox" id="st_v49">
                                }


                            </span>
                            <span class="input-group-btn">
                                <input type="text" id="ten_v49" value="@listPT[48].mo_ta" placeholder="Nhập tên value 49..." class="form-control">
                            </span>
                            <span class="input-group-btn">
                                <select class="form-control" id="loai_v49">
                                    @if (listPT[48].type == "datetime")
                                    {
                                        <option selected value="date">Thời gian</option>
                                            <option value="text">Chữ</option>
                                                <option value="number">Số</option>
                                    }
                                    else if (listPT[48].type == "text")
                                    {
                                        <option value="date">Thời gian</option>
                                            <option selected value="text">Chữ</option>
                                                <option value="number">Số</option>
                                    }
                                    else
                                    {
                                        <option value="date">Thời gian</option>
                                            <option value="text">Chữ</option>
                                                <option selected value="number">Số</option>
                                    }
                                </select>
                            </span>

                        </div>
                        <!-- /input-group -->
                    </div>
                    <div class="col-lg-1">

                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-3">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:0.05%">
                               50
                            </span>
                            <span class="input-group-addon" style="width:0.05%">
                                @if (listPT[49].status == "hidden")
                                {
                                    <input type="checkbox" id="st_v50">
                                }
                                else
                                {
                                    <input checked type="checkbox" id="st_v50">
                                }
                            </span>
                            <span class="input-group-btn">
                                <input type="text" id="ten_v50" placeholder="Nhập tên value 50..." class="form-control">
                            </span>
                            <span class="input-group-btn">
                                <select class="form-control" id="loai_v50">
                                    @if (listPT[49].type == "datetime")
                                    {
                                        <option selected value="date">Thời gian</option>
                                        <option value="text">Chữ</option>
                                            <option value="number">Số</option>
                                    }
                                    else if (listPT[49].type == "text")
                                    {
                                        <option value="date">Thời gian</option>
                                        <option selected value="text">Chữ</option>
                                            <option value="number">Số</option>
                                    }
                                    else
                                    {
                                        <option value="date">Thời gian</option>
                                        <option value="text">Chữ</option>
                                            <option selected value="number">Số</option>
                                    }
                                </select>
                            </span>

                        </div>
                        <!-- /input-group -->
                    </div>
                </div>
        }
    </div>
    <button type="button" class="btn btn-primary" style="width:auto;margin-top:10px" onclick="Save();">Lưu</button>
</div>
